*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Courier;
}



#cabecera{
    background-color: black;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    color: white;
}

#subcabecera{
    background-color: gray;
    height: 40px;
    padding-top: 10px;
    padding-left: 40px;
    color: white;
}

#subcabecera a{
    color: white;
    text-decoration: none;
}

#fondo img{
    width: 100%;
}

#introduccion{
    background-color: black;
    border-top-left-radius: 40px;
    height: 200px;
    outline: 5px solid orangered;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

#noticias{
    background-color: black;
    border-top-left-radius: 40px;
    height: 500px;
    outline: 5px solid rgba(158, 158, 35, 0.61);
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    overflow: scroll;
}

#mas{
    background-color:black;
    border-top-left-radius: 40px;
    height: 200px;
    outline: 5px solid blue;
    padding-top: 20px;
    padding-left: 20px;
    color: white
}

#opiniones{
    background-color: black;
    border-top: 10px solid goldenrod;
    border-bottom: 10px solid goldenrod;
    padding-top: 20px;
    padding-left: 20px;
    color: white
}

#opiniones h1{
    color: goldenrod;
}

#estrella{
    margin-bottom: 10px;
}

#introduccion,#noticias,#mas{
    margin: 30px;
}

#pie{
    width: 500px;
    text-align: center;
}

#subcabecera ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #subcabecera li {
    float: left;
  }
  
  #subcabecera li a {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    z-index: 0;
  }
  
  li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: blue;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }
  
li a:hover::before,
li a:focus::before {
transform: scale(1);
}



    